{% extends 'base.html' %}
 {% load static %}
	

	{% block title %}Movies{% endblock title %}
 	{% block body %}
    {% if user.is_authenticated %}
  <h1 class="text-center"> Hi {{ user.username }}</h1>
    <div class>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  </div>
 <form action= "{% url 'search' %}"  method="get">
 
  <input type ="text" name ="q">
<input type ="submit" value ="search">
</form>
 	<h2>Movies List</h2>
 	{% for element in object_list %}
 	   <h3 class="text-light">{{ element.movie_name }}</h3>
 	   <h4 class="text-success">{{ element.release_year }}</h4>
 	   <h5>{{ element.director }}</h5>
 	   <h6>{{ element.rating }}</h6>
     {% endfor %}
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> 
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock body %}
